.server-icon {
  background-color: transparent;
}

@keyframes fadeInCompose {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutCompose {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.compose-exiting,
.compose-entering {
  animation: .3s linear;
  animation-fill-mode: forwards;
}


.compose-exiting {
  animation-name: fadeOutCompose;
}

.compose-entering {
  animation-name: fadeInCompose;
}


.compose-entered {
  opacity: 1;
}

.compose-exited {
  opacity: 0;
  display: none;
}

@keyframes slideInCompose {
  from {
    width: 0;
  }

  50% {
    width: 200px;
    min-width: 200px;
  }

  to {
    width: 320px;
    min-width: 320px;
  }
}

@keyframes slideOutCompose {
  from {
    width: 320px;
    min-width: 320px;
  }

  50% {
    width: 100px;
    min-width: 100px;
  }

  to {
    width: 0px;
  }
}

.search-exiting,
.search-entering {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
  animation: .3s linear;
  animation-fill-mode: forwards;
  .hideen-in-animating {
    display: none;
  }
}


.search-exiting {
  animation-name: slideOutCompose;
}

.search-entering {
  animation-name: slideInCompose;
}


.search-entered {
  top: 0;
  width: 320px;
  min-width: 320px;
  height: 100vh;
  position: fixed;
  z-index: 3;
}

.search-exited {
  width: 0px;
  display: none;
}

@keyframes slideInDetail {
  from {
    width: 0;
  }

  to {
    width: max(340px, 30vw);
    min-width: max(340px, 30vw);
    max-width: max(340px, 30vw);
  }
}

@keyframes slideOutDetail {
  from {
    width: max(340px, 30vw);
    min-width: max(340px, 30vw);
    max-width: max(340px, 30vw);
  }

  to {
    width: 0;
  }
}


.detail-exiting,
.detail-entering {
  animation: .3s liner;
  animation-fill-mode: forwards;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 3;
}

.detail-exiting {
  animation-name: slideOutDetail;
}

.detail-entering {
  animation-name: slideInDetail;
}

.detail-entered {
  width:  max(340px, 30vw);
  min-width:  max(340px, 30vw);
  max-width:  max(340px, 30vw);
  height: 100vh;
  right: 0;
  position: fixed;
  z-index: 3;
}

.detail-exited {
  width: 0;
  display: none;
}


.emojione {
  width: 1rem;
  height: 1rem;
}

.favourite-action.activating {
  animation: spring-rotate-in 2s linear;
}

.favourite-action.deactivating {
  animation: spring-rotate-out 2s linear;
}

.reblog-action.activating {
  animation: spring-rotate-in 2s linear;
}

.reblog-action.deactivating {
  animation: spring-rotate-out 2s linear;
}

@keyframes spring-rotate-in {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(-484.8deg);
  }

  60% {
    transform: rotate(-316.7deg);
  }

  90% {
    transform: rotate(-375deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spring-rotate-out {
  0% {
    transform: rotate(-360deg);
  }

  30% {
    transform: rotate(124.8deg);
  }

  60% {
    transform: rotate(-43.27deg);
  }

  90% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.attachment {
  cursor: pointer;
}

.status {

  time {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.status-body {
  img {
    max-width: 240px;
    &.emojione {
      &:hover {
        transform: scale(2);
      }
      transition-duration: 0.3s;
    }
  }

  blockquote {
    padding-left: 10px;
    border-left: 3px solid #9baec8;
    color: #9baec8;
    margin: 0;
  }
}

.status-detail {
  .status {
    .body {
      cursor: default;
    }

    time {
      cursor: default;
    }
  }
}

.media-dialog {
  height: 100%;

  .rs-modal-content {
    height: 100%;
  }
}

.report-statuses .rs-checkbox-wrapper .rs-checkbox-inner:after,
.report-statuses .rs-checkbox-wrapper .rs-checkbox-inner:before,
.report-statuses .rs-checkbox-wrapper:before {
  margin-top: 30px;
}

.timeline-space {
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 7px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--rs-progress-bg);
    border-radius: 4px !important;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px !important;
    background-color: transparent;
  }

}

.timeline-scrollable {
  overflow-y: auto;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--rs-border-primary);
    border-radius: 4px !important;
    opacity: 0;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px !important;
    background-color: var(--rs-bg-card);
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      opacity: 1;
    }
  }
}

.sidepanel-scrollable {
  overflow-y: auto;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--rs-divider-border);
    border-radius: 4px !important;
    opacity: 0;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px !important;
    background-color: var(--rs-border-secondary);
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      opacity: 1;
    }
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.rs-modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorChangeBtn {
  transition-duration: 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

.react-resizable {
  position: relative;
}
.react-resizable-handle-e {
  margin-top: -10px;
  cursor: ew-resize;
  right: -4px;
  top: 0;
  position: absolute;
  width: 4px;
  height: 100%;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-s {
  cursor: ns-resize;
  position: absolute;
  height: 4px;
  width: 100%;
}
.play-pause-button:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
