@import "~rsuite/dist/rsuite.min.css";

:root {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #0f0f0f;
	background-color: #f6f6f6;
	height: 100%;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	user-select: none;
}
.rs-theme-dark {
	--rs-bg-well: #212121;
	--rs-sidenav-default-bg: #424242;
	--rs-text-link: #039be5;
	--rs-btn-link-text: var(--rs-text-secondary);
	--rs-btn-link-hover-text: var(--rs-text-disabled);
	--rs-btn-ghost-border: var(--rs-text-primary);
	--rs-btn-ghost-text: var(--rs-text-primary);
	--rs-btn-ghost-hover-border: var(--rs-green-500);
	--rs-btn-ghost-hover-text: var(--rs-green-500);
	--rs-btn-link-hover-text: var(--rs-green-10);
	--rs-picker-value: var(--rs-green-primary);
	--rs-listbox-option-selected-bg: var(--rs-green-500);
	--rs-listbox-option-selected-text: var(--rs-green-10);
	--rs-state-focus-shadow: 0 0 0 2px var(--rs-green-500);
	--rs-input-focus-border: var(--rs-green-500);
	--rs-navs-selected: var(--rs-green-500);
}

body {
	font-family:
		Apple-System,
		"Hiragino Kaku Gothic ProN",
		Hiragino Sans GB,
		Arial,
		Helvetica,
		PingFang SC,
		Meiryo,
		Microsoft YaHei,
		STXihei,
		sans-serif;
	height: 100%;
}

.login-page {
	padding-top: 70px;
}

#__next {
	height: 100%;
}

.index {
	height: 100%;
}
